:root {
    --white-1: #ffffff;
    --white-2: #F5FAFA;
    --white-3: #F8F9FA;
    --white-4: #F3F3F3;
    --gray-1: #8F8F8F;
    --red-1:#9C2B23;
    --red-2: #7e231d;
    --red-3:#FA0D21;
    --green-1: #029837;
    --green-2: #058f35;
    --green-3: #4CAF50;
    --dark-1: #323232;
    --dark-2: #535353;
    --dark-3: #535A5A
    --border-radius-1: 5px;
    --font-size-1: 4em;
    --font-size-2: 2.5em;
    --font-size-3: 1.5em;
    --font-size-4: 1em;
    --font-size-5: 0.5em;
}

html {
    scroll-behavior: smooth;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--dark-1);
}

.panel {
    background-color: #F8F9FA;
    box-shadow: 8px 9px 18px -7px rgb(216, 216, 216);
    border-radius: 2px;
}

.agenda p {
    margin: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: 6px;
    scrollbar-color: #7A7A7A;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: #E8E8E8;
}

*::-webkit-scrollbar-thumb {
    height: 2px;
    background-color: #7A7A7A;
    border-radius: 10px;
    border: 1px none #ffffff;
}