body {
    background-color: #F1EDED !important;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.sidebar {
    padding: 4% 24px;
    float: left;
    width: 252px;
}

.content {
    margin-left: 20px;
    flex: 1;
    background-color: transparent;
}

.admin-pic {
    height: 92px;
    width: 92px;
    border-radius: 50%;
    background-color: rgb(168, 212, 8);
    object-fit: cover;
    outline: 8px var(--red-1) solid;
    outline-offset: 8px;
}

.admin-pic > img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.admin-profile > h5 {
    font-size: 1.1rem !important;
    font-weight: 500;
    margin-top: 26px;
    margin-bottom: 2px;
}

.admin-profile > h6 {
    font-size: .9rem !important;
    font-weight: 400;
}

.sidebar-links .nav-item {
    margin: 4px 0;
}

.sidebar-links .nav-link {
    height: 56px;
    border-radius: 12px !important;
}

.sidebar-links .nav-link.active {
    background-color: var(--red-1) !important;
}

.sidebar-links .nav-link.active h6 {
    color: white;
}

.icon-div {
    margin-left: 4px;
}

.icon-div > h6 {
    margin-top: 12px;
    margin-left: 12px;
    color: var(--red-1);
    font-weight: 500;
    font-size: 14px;
}

.nav-link > img {
    margin-top: 15px;
}

.content > .top-bar {
    min-height: 50px;
    padding: 0px 24px;
    width: 98%;
}

.content .top-bar > h6 {
    color: rgba(0, 0, 0, .4);
    margin-top: 9px;
    font-size: .8rem;
}

.content .top-bar > .topbar-btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px var(--red-1) dashed;
    background-color: transparent;
    padding: 0;
}

.content .top-bar > .topbar-btn > i {
    font-size: 13px;
    color: var(--red-1);
}

.content span {
    color: var(--red-1);
}

.main-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 98%;
}




.main {
    width: 64%;
    padding: 24px 36px;
    overflow-y: auto;
    overflow-x: hidden;
}

.main.panel > .nav-tabs > .nav-item {
    width: 220px;
}

.main .nav-item > button {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    color: var(--dark-2);
    font-weight: 500;
}

.main  .nav-link {
    border: 0 !important;
}

.main  .nav-link.active {
    border: 0 !important;
    border-bottom: 2px var(--red-1) solid !important;
    color: var(--red-1) !important;
    background-color: #F8F9FA !important;
}

.main .tab-content {
    padding: 15px 15px 15px 35px;
    overflow: hidden;
    height: 600px !important;
}

.main .tab-pane {
    padding-right: 20px;
    overflow-x: hidden;
}

.notif-header .top-text {
    font-size: 20px;
    margin: 0;
}

.notif-header select {
    background-color: transparent;
    border: 0;
    padding: 6px;
    width: 80px;
    height: 25px;
    font-size: 12px;
}

.label-div {
    margin-top: 26px;
    margin-bottom: 8px;
    margin-left: 25px
}
.faculty-request.label-div {
    margin-left: 5px;
}

.label-div h6 {
    font-size: 14px;
    color: #BCC1CD;
    font-weight: 400;
}

.notif-wrapper, .subscription-wrapper, .faculty-wrapper {
    height: 530px;
    overflow-y: auto;
}

.notification-div {
    height: 130px;
    margin-bottom: 10px;
}

.notification-div .notification {
    padding-top: 10px;
    border-bottom: 1px #ECEDED solid;
}

.notification-div.active {
    min-height: 240px;
    margin-bottom: 36px;
}

.notification-div .stepper-container {
    width: 80px;
}

.notification-div .stepper-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--red-1);
}

.notification-div.active .stepper-circle {
    width: 14px;
    height: 14px;
    outline: 2px var(--red-1) solid;
    outline-offset: 2px;
    border-radius: 50%;
    margin: 4px;
    background-color: var(--red-1);
}

.notification-div.active .notification {
    border: 1px var(--red-1) solid;
    border-radius: 12px;
    padding: 18px 22px;
    gap: 2%;
}

.notification-div.active .faculty-request.notification {
    border: 0;
    border-radius: 0;
    border-bottom: 1px #E6E6E6 solid;
}

.notification-div.active .label {
    margin: 0;
    font-size: 15px;
}

.notification-div.active .input {
    color: #535353;
    font-weight: 400;
    font-size: 15px;
}

.notification-div.active .notif-date, .notification-div.active .notif-time, .notification-div.active .notif-duration {
    margin-right: 20px;
}

.notification-div.active .notif-location .label {
    margin-right: 12px;
}

.notification-div.active .notif-note .label {
    margin-right: 6px;
}

.notification-div.active .notif-note .input {
    color: #323232;
}

.notification-div.active .button-div .btn {
    padding: 0;
    width: 90px !important;
    height: 30px !important;
    font-size: 12px;
}

.notification-div.active .join-event-btn {
    background-color: var(--red-1);
    border: 0;
}

.notification-div.active .view-btn {
    background-color: white;
    color: #3C4257;
    border: 1px #DDDEE1 solid;
}

.notification-div .stepper-line {
    flex: 1;
    width: 2px;
    margin-top: 4px;
    border-radius: 20px;
    background-color: var(--red-1);
}

.notification-div .date-time-div {
    width: 90px;
    margin-left: 20px;
}

.notification-div .notification {
    width: 80%;
}

.notification-div .date-time-div .date {
    color: #323232;
    font-size: 15px;
}

.notification-div .date-time-div .time {
    margin: 0;
    font-size: 13px;
    color: #BCC1CD;
    font-weight: 400;
}

.notification-div .invite-text {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

.subscription-wrapper .notification-div {
    min-height: 180px !important;
    overflow-y: auto;
}

.faculty-wrapper .notification-div {
    min-height: 180px !important;
}

.modal-lg {
    max-width: 450px !important;
    border-radius: 3px !important;
}

.view-modal .modal-lg {
    max-width: 550px !important;
}

.modal-content {
    border-radius: 3px !important;
}

.modal-body {
    padding: 0 !important;
}

.modal-top-img {
    height: 225px !important;
    background-image: url("../../assets/img/admin/event-modal-bg.svg");
    background-size: cover;
    background-position: 0px -55px;
    background-repeat: no-repeat;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

.content-wrapper {
    padding: 18px 36px;
}

.content-wrapper h6 {
    margin-bottom: 21px;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
}

.reason-select {
    height: 31px;
    padding: auto;
    font-size: 14px !important;
    border-radius: 2px !important;
}

.explain-div textarea {
    border-radius: 2px;
    font-size: 14px;
}

.explain-div label {
    color: #ACB5BD;
    font-weight: 300;
    font-size: 14px;
    margin: 12px 0 0 0;
}

.decline-modal .btn-div {
    gap: 8px;
    margin-bottom: 32px;
}

.decline-modal .back-btn, .decline-modal .submit-btn {
    width: 130px;
    border-radius: 3px !important;
    font-size: 14px;
}

.decline-modal .back-btn {
    border: 1px #DEE2E6 solid !important;
    background-color: white !important;
    color: var(--red-1) !important;
}

.decline-modal .submit-btn {
    background-color: var(--red-1) !important;
    border: 1px var(--red-1) solid !important;
}

.view-modal .info-div {
    margin: 36px 0px 28px 0px;
    gap: 12px;
}

.view-modal .info-div .main-label {
    color: #323232;
    font-weight: 500;
    width: 45%;
    max-width: 45%;
}

.view-modal .info-div .info-label {
    word-wrap: break-word;
    max-width: 45%;
}




.content-two {
    flex: 1;
    padding-left: 20px;
}

.calendar-div {
    padding: 20px 24px;
}

.calendar-wrapper p {
    margin: 0 !important;
}

.calendar-wrapper {
    width: 450px;
}

.calendar-wrapper header {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content:space-between;
}

header .icons {
    
    display: flex;
}

header .icons span {
    height: 32px;
    width: 32px;
    margin: 0 1px;
    cursor: pointer;
    color: var(--red-1);
    text-align: center;
    font-size: 1.4rem;
    user-select: none;
    border-radius: 50%;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .current-date {
    color: var(--red-1);
    font-size: 20px;
    font-weight: 600;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 14px;
}

.calendar .weeks li {
    margin-top: 12px;
    font-weight: 500;
    font-size: 14px;
    color: var(--red-1);
    cursor: default;
}

.calendar .days li {
    font-size: 13px;
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin: 8px 0px;
}

.days li.inactive {
    color: #aaa;
}

.days li.active p, .days li.active.hasEvent p {
    color: #fff !important;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 34px;
    width: 34px;
    z-index: -1;
    border-radius: 2px;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: var(--red-1);
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}

.calendar-wrapper ol, ul, dl {
    padding: 0 !important;
    margin: 0 !important;
}

.days li.hasEvent p {
    font-weight: bold !important;
    color: var(--red-1) !important;
}

.request-list-div {
    flex: 1;
    overflow-y: auto;
}

.today-event {
    padding: 22px 24px;
}

.today-event-wrapper {
    overflow: auto;
}


.column-text {
    height: fit-content;
}

.column-text p {
    font-size: 12px;
    color: #BCC1CD;
    margin-bottom: 3px;
}

.time-txt, .event-txt {
    font-size: 12px !important;
}

.time-txt {
    margin-left: 12px;
}

.event-txt {
    margin-left: 22px;
}

.today-event-content {
    flex: 1;
    overflow: auto;
    max-height: 230px;
}

.today-event-group {
    min-height: 140px;
    margin-bottom: 10px;
}

.stepper-wrapper {
    width: 45px;
}

.stepper-circle {
    width: 10px;
    height: 10px;
    border: 2px var(--red-1) solid;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 3px;
}

.today-event-card p {
    margin-bottom: 0 !important;
}

.today-event-group:first-child .stepper-circle {
    margin-top: 5px;
    margin-bottom: 6px;
    background-color: var(--red-1);
    outline: 2px var(--red-1) solid;
    outline-offset: 2px;
}

.stepper-line {
    flex: 1;
    width: 2px;
    height: 100%;
    background-color: var(--red-1);
}

.time-wrapper {
    width: 55px;
}

.time-wrapper .start-time {
    color: #323232;
    font-size: 14px;
    margin-bottom: 3px !important;
}

.time-wrapper .end-time {
    color: #BCC1CD !important;
    font-size: 13px;
}

.time-wrapper .start-time,
.time-wrapper .end-time {
    margin: 0;
    margin-left: 4px;
}

.event-card-wrapper {
    flex: 1;
    width: 80%;
}

.today-event-card {
    width: 92%;
    padding: 20px 14px;
}

.today-wrap {
    height: fit-content;
}

.today-event-group:first-child .today-event-card {
    width: 92%;
    padding: 12px 14px;
    border: 2px var(--red-1) solid;
    border-radius: 12px;
}

.today-event-group:first-child h6,
.today-event-group:first-child .details i,
.today-event-group:first-child .details .details-text {
    color: #323232 !important;
}

.today-event-group:first-child .time-wrapper .end-time {
    color: #BCC1CD  !important;
}

.event-title-location h6 {
    margin: 0;
    margin-bottom: 3px;
    font-size: 13px;
    width: 100%;
}

.today-event-card .details .details-text {
    color: #323232;
    font-size: 11px;
    font-weight: 300;
}

.details i {
    font-size: 12px;
    margin-top: 2px;
    margin-right: 6px;
}

.today-event .join-event-btn {
    position: static;
    bottom: 0;
    right: 0;
    border-radius: 3px !important;
    border: 1px white solid !important;
    background-color: var(--red-1) !important;
    height: 30px;
    width: 90px;
    font-size: 10px !important;
}

.empty-event-text h5 {
    font-weight: 700;
    text-align: center;
}

.empty-event-text h6 {
    text-align: center;
}




.user-request {
    margin: 15px 0px;
    height: 100px;
}

.avatar-div {
    width: 60px;
}

.red-thing {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--red-1);
}

.avatar-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-content-div {
    flex: 1;
    padding: 5px 20px 5px 10px;
}

.user-content-div .text {
    color: #323232;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
}

.user-content-div .text b {
    font-weight: 600;
}

.button-div {
    gap: 6px;
}

.user-content-div .btn {
    width: 80px;
    height: 25px;
    padding: 0 !important;
    font-size: 11px;
    border-radius: 4px !important;
}

.user-content-div .approve-btn {
    background-color: var(--red-1);
    border: 0;
}

.user-content-div .reject-btn, .user-content-div .view-btn {
    background-color: white;
    border: 1px #DDDEE1 solid;
    color: #3C4257;
}

.user-content-div .time-text {
    font-size: 12px;
    color: #A5ACB8;
    font-weight: 400;
    margin: 0;
}



#sub-list-modal tbody tr td {
    font-size: 14px;
}

.historyModal .modal-lg {
    max-width: 800px !important;
    border-radius: 0 !important;
}

.historyModal .modal-content {
    border-radius: 0 !important;
}

.historyModal .modal-header  {
    padding: 16px 24px !important;
    background-color: #F2F2F2;
    border-radius: 0 !important;
}

.historyModal .modal-body  {
    padding: 24px !important;
}

.historyModal .modal-title {
    font-size: 20px;
    font-weight: bold;
    color: #5E5A5A;
}

.historyModal .modal .form-label {
    font-weight: 500;
    color: #5E5A5A;
    margin-bottom: 4px;
}

.historyModal .modal-footer {
    border: 0 !important;
    padding-bottom: 20px !important;
}

.historyModal .modal-title {
    font-size: 14px !important;
}

.historyModal .search-bar-div {
    margin-bottom: 12px;
}

.historyModal .search-bar-div i {
    position: absolute;
    margin-top: 9px;
    margin-left: 10px;
}

#history-modal-table {
    table-layout: fixed;
}

#history-modal-table thead th, .historyModal .dataTables_scrollHead thead th {
    background-color: white !important;
    color: var(--dark-2) !important;
}

#history-modal-table_wrapper .dataTables_scrollHeadInner th > p {
    color: var(--dark-2) !important;
    font-weight: bold;
}

.historyModal .search-bar-div .form-control {
    padding-left: 30px !important;
}

#history-modal-table tbody tr:first-child td:nth-child(3){
    padding-bottom: 0.6rem
}

.historyModal .dataTables_scrollHeadInner, .historyModal .table.dataTable.no-footer {
    width: 100% !important;
}

.historyModal .dataTables_scrollBody td {
    padding: 12px 26px !important;
}

.historyModal .dataTables_scrollHeadInner th p {
    color: white;
}

.historyModal .table-wrapper {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px #BFBFBF solid;
}

.view-assessment-btn, .sub-approve-btn, .sub-reject-btn {
    font-size: 10px !important;
    font-weight: 600 !important;
    color: #5E5E5E !important;
    border: 1px #BFBFBF solid !important;
    padding: 4px 10px !important;
    margin-right: 6px !important;
}

.view-assessment-btn i {
    color: #5E5E5E !important;
    margin: 0 !important;
}

.sub-approve-btn {
    width: 65px !important;
    margin-left: 12px !important;
    color: white !important;
    background-color: var(--red-1) !important;
    border: 0 !important;
}

.sub-reject-btn {
    width: 65px !important;
}

.request-div {
    padding-right: 48px;
    min-height: 150px;
    margin-bottom: 22px;
}

.request-div .time-div {
    padding-left: 6px;
    width: 90px;
}

.time-div .date {
    font-size: 14px;
    font-weight: 600;
}

.time-div .time {
    font-size: 13px;
    color: #BCC1CD;
    font-weight: 400;
}

.request-div .main-req-content {
    flex: 1;
    border-bottom: 1px rgba(230, 230, 230, .6) solid;
}
.main-req-content .avatar-div {
    width: 53px;
}

.avatar-div .avatar-wrapper {
    width: 32px;
    height: 32px;
    margin-top: 8px;
}

.avatar-wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

.red-thingy {
    width: 8px;
    height: 8px;
    background-color: var(--red-1);
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 2px;
}

.main-req-content .info-div {
    flex: 1;
    margin-left: 4px;
}

.header-text-div {
    padding-top: 9px;
    height: 40px;
}

.info-div h6 {
    margin: 0;
    font-size: 15px;
}

.main-req-content .info-div .label {
    width: 210px;
}

.info-div .label-value > a {
    color: var(--red-1) !important;
}

.org-details-div {
    padding-top: 7px;
    height: 55px;
}

.org-details-div div:first-child .label-value {
    font-weight: 600;
}

.btn-div {
    flex: 1;
    gap: 6px;
}

.btn-div .btn {
    width: 90px;
    height: 28px;
    padding: 3px 2px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 4px;
    color: #3C4257;
    border: 1px #DDDEE1 solid;
    background-color: white;
}

.btn-div .approve-btn {
    background-color: var(--red-1);
    border: 0;
    color: white;
}
