.main.panel {
    flex-direction: row !important;
    background-color: transparent;
}

.notification-main {
    width: 64%;
    padding: 24px 36px;
    overflow-y: auto;
    overflow-x: hidden;
}

.notif-header .top-text {
    font-size: 20px;
    margin: 0;
}

.notif-header select {
    background-color: transparent;
    border: 0;
    padding: 6px;
    width: 80px;
    height: 25px;
    font-size: 12px;
}

.label-div {
    margin-top: 26px;
    margin-bottom: 8px;
    margin-left: 40px
}

.label-div h6 {
    font-size: 14px;
    color: #BCC1CD;
    font-weight: 400;
}

.notif-wrapper {
    height: 530px;
    overflow-y: auto;
}

.notification-div {
    height: 120px;
    margin-bottom: 10px;
}

.notification-div .notification {
    padding-top: 10px;
    border-bottom: 1px #ECEDED solid;
}

.notification-div.active {
    height: 240px;
    margin-bottom: 36px;
}

.notification-div .stepper-container {
    width: 40px;
}

.notification-div .stepper-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--red-1);
}

.notification-div.active .stepper-circle {
    width: 14px;
    height: 14px;
    outline: 2px var(--red-1) solid;
    outline-offset: 2px;
    border-radius: 50%;
    margin: 4px;
    background-color: var(--red-1);
}

.notification-div.active .notification {
    border: 1px var(--red-1) solid;
    border-radius: 12px;
    padding: 18px 22px;
    gap: 2%;
    justify-content: space-between;
}

.notification-div.active .label {
    margin: 0;
    font-size: 15px;
}

.notification-div.active .input {
    color: #535353;
    font-weight: 400;
    font-size: 15px;
}

.notification-div.active .notif-date, .notification-div.active .notif-time, .notification-div.active .notif-duration {
    margin-right: 20px;
}

.notification-div.active .notif-location .label {
    margin-right: 12px;
}

.notification-div.active .notif-note .label {
    margin-right: 6px;
}

.notification-div.active .notif-note .input {
    color: #323232;
}

.notification-div.active .button-div .btn {
    padding: 0;
    width: 90px !important;
    height: 30px !important;
    font-size: 12px;
}

.notification-div.active .join-event-btn {
    background-color: var(--red-1);
    border: 0;
    font-size: 12px !important;
}

.notification-div.active .view-btn {
    background-color: white;
    color: #3C4257;
    border: 1px #DDDEE1 solid;
}

.notification-div .stepper-line {
    flex: 1;
    width: 2px;
    margin-top: 4px;
    border-radius: 20px;
    background-color: var(--red-1);
}

.notification-div .date-time-div {
    width: 90px;
}

.notification-div .notification {
    width: 80%;
}

.notification-div .date-time-div .date {
    color: #323232;
    font-size: 16px;
}

.notification-div .date-time-div .time {
    margin: 0;
    font-size: 14px;
    color: #BCC1CD;
    font-weight: 400;
}

.notification-div .invite-text {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

.modal-lg {
    max-width: 450px !important;
    border-radius: 3px !important;
}

.view-modal .modal-lg {
    max-width: 550px !important;
}

.modal-content {
    border-radius: 3px !important;
}

.modal-body {
    padding: 0 !important;
}

.modal-top-img {
    height: 190px;
    background-image: url("../../assets/img/admin/event-modal-bg.svg");
    background-size: cover;
    background-position: 0px -55px;
    background-repeat: no-repeat;
    border-top-left-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

.content-wrapper {
    padding: 18px 36px;
}

.content-wrapper h6 {
    margin-bottom: 21px;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
}

.reason-select {
    height: 31px;
    padding: auto;
    font-size: 14px !important;
    border-radius: 2px !important;
}

.explain-div textarea {
    border-radius: 2px;
    font-size: 14px;
}

.explain-div label {
    color: #ACB5BD;
    font-weight: 300;
    font-size: 14px;
    margin: 12px 0 0 0;
}

.decline-modal .btn-div {
    gap: 8px;
    margin-bottom: 32px;
}

.decline-modal .back-btn, .decline-modal .submit-btn {
    width: 130px;
    border-radius: 3px !important;
    font-size: 14px;
}

.decline-modal .back-btn {
    border: 1px #DEE2E6 solid !important;
    background-color: white !important;
    color: var(--red-1) !important;
}

.decline-modal .submit-btn {
    background-color: var(--red-1) !important;
    border: 1px var(--red-1) solid !important;
}

.view-modal .info-div {
    margin: 36px 0px 28px 0px;
    gap: 12px;
}

.view-modal .info-div .main-label {
    color: #323232;
    font-weight: 500;
    width: 45%;
}




.content-two {
    flex: 1;
    padding-left: 20px;
}

.calendar-div {

}

.empty-event-text h5 {
    font-weight: 700;
    text-align: center;
}

.empty-event-text h6 {
    text-align: center;
}
.today-event {
    margin-top: 24px;
}

.today-event-wrapper {
    overflow: auto;
}

.column-text {
    height: fit-content;
}

.column-text p {
    font-size: 12px;
    color: #BCC1CD;
    margin-bottom: 3px;
}

.time-txt, .event-txt {
    font-size: 12px !important;
}

.time-txt {
    margin-left: 12px;
}

.event-txt {
    margin-left: 22px;
}

.today-event-content {
    flex: 1;
    overflow: auto;
    max-height: 230px;
}

.today-event-group {
    min-height: 140px;
    margin-bottom: 10px;
}

.stepper-wrapper {
    width: 45px;
}

.stepper-circle {
    width: 10px;
    height: 10px;
    border: 2px var(--red-1) solid;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 3px;
}

.today-event-group:first-child .stepper-circle {
    margin-top: 5px;
    margin-bottom: 6px;
    background-color: var(--red-1);
    outline: 2px var(--red-1) solid;
    outline-offset: 2px;
}

.stepper-line {
    flex: 1;
    width: 2px;
    height: 100%;
    background-color: var(--red-1);
}

.time-wrapper {
    width: 55px;
}

.time-wrapper .start-time {
    color: #323232;
    font-size: 14px;
    margin-bottom: 3px !important;
}

.time-wrapper .end-time {
    color: #BCC1CD !important;
    font-size: 13px;
}

.time-wrapper .start-time,
.time-wrapper .end-time {
    margin: 0;
    margin-left: 4px;
}

.event-card-wrapper {
    flex: 1;
    width: 80%;
}

.today-event-card {
    width: 92%;
    padding: 20px 14px;
}

.today-wrap {
    height: fit-content;
}

.today-event-group:first-child .today-event-card {
    width: 92%;
    padding: 12px 14px;
    border: 2px var(--red-1) solid;
    border-radius: 12px;
}

.today-event-group:first-child h6,
.today-event-group:first-child .details i,
.today-event-group:first-child .details .details-text {
    color: #323232 !important;
}

.today-event-group:first-child .time-wrapper .end-time {
    color: #BCC1CD  !important;
}

.event-title-location h6 {
    margin: 0;
    margin-bottom: 3px;
    font-size: 13px;
    width: 100%;
}

.today-event-card .details .details-text {
    color: #323232;
    font-size: 11px;
    font-weight: 300;
    margin-bottom: 0;
}

.details i {
    font-size: 12px;
    margin-top: 2px;
    margin-right: 6px;
}

.today-event-card .join-event-btn {
    position: static;
    bottom: 0;
    right: 0;
    border-radius: 3px !important;
    border: 1px white solid !important;
    background-color: var(--red-1) !important;
    height: 30px;
    width: 90px;
    font-size: 10px !important;
}

.calendar-wrapper p {
    margin: 0 !important;
}

.calendar-wrapper {
    width: 450px;
}

.calendar-wrapper header {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content:space-between;
}

header .icons {
    
    display: flex;
}

header .icons span {
    height: 32px;
    width: 32px;
    margin: 0 1px;
    cursor: pointer;
    color: var(--red-1);
    text-align: center;
    font-size: 1.4rem;
    user-select: none;
    border-radius: 50%;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .current-date {
    color: var(--red-1);
    font-size: 20px;
    font-weight: 600;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 14px;
}

.calendar .weeks li {
    margin-top: 12px;
    font-weight: 500;
    font-size: 14px;
    color: var(--red-1);
    cursor: default;
}

.calendar .days li {
    font-size: 13px;
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin: 8px 0px;
}

.days li.inactive {
    color: #aaa;
}

.days li.active p, .days li.active.hasEvent p {
    color: #fff !important;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 34px;
    width: 34px;
    z-index: -1;
    border-radius: 2px;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: var(--red-1);
}

.days li:not(.active):hover::before {
    background: #f2f2f2;
}

.calendar-wrapper ol, ul, dl {
    padding: 0 !important;
    margin: 0 !important;
}

.days li.hasEvent p {
    font-weight: bold !important;
    color: var(--red-1) !important;
}